.messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-top: -60px;
    margin-left: 205px;
}

.vertical-messagesline {
    width: 1px;
    height: 100vh;
    background-color: #2a2c2d;
    margin-left: 500px;
    position: absolute;
}