.messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.messages-content {
    display: flex;
    flex-direction: column;
    top: 84px;
    width: 100%;
    height: 100%;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 10px;
    z-index: 0;
}

.message {
    background-color: var(--messagesColor);
    color: white;
    padding: 10px;
    margin-block: 20px;
    border-radius: 20px;
    max-width: 70%;
    align-self: flex-end;
}

.message.answer {
    background-color: var(--answerColor);
    align-self: flex-start;
    position: relative;
}

.message.answer::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 14px;
    width: 24px;
    height: 24px;
    background-image: url('src/assets/blankfactor-logo.jpg');
    background-size: cover;
    border-radius: 10%;
    transform: translate(-50%, -50%);
}

.message.sent {
    align-self: flex-end;
}

@keyframes dot {
    0% {
        content: '•';
    }
    33% {
        content: '•';
    }
    66% {
        content: '••';
    }
    100% {
        content: '•••';
    }
}

.message.typing::after {
    content: '•';
    animation: dot 2s infinite;
}

.messages-title {
    display: flex;
    justify-content: center;
    color: var(--whiteColor);
    width: 100%;
    margin-block: 24px;
}

.messages-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.horizontal-messagesline {
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
}

/*.vertical-messagesline {*/
/*    width: 1px;*/
/*    height: 100%;*/
/*    background-color: var(--lineColor);*/
/*}*/

.messages-content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.messages-content {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: end;
    z-index: 0;
}

/*.files-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 25%;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*}*/

/*.files-title {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    color: var(--whiteColor);*/
/*    width: 100%;*/
/*    margin-block: 24px;*/
/*}*/

/*.horizontal-filesline {*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: var(--lineColor);*/
/*}*/

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-inline: 14px;
}

.search-textfield.MuiInputBase-root,
.search-textfield {
    color: var(--whiteColor);
}

.search-input {
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px;
    border: 1px solid var(--lineColor);
    box-shadow: 4px 4px 10px var(--searchBarColor),
    -4px -4px 10px var(--searchBarColorBox);
    margin-bottom: 20px;
    z-index: 1;
}

.attach-icon.MuiButtonBase-root,
.send-btn.MuiButtonBase-root,
.attach-icon,
.send-btn {
    color: var(--whiteColor);
}
