.messages-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 206px;
    overflow: hidden;
    z-index: 0;
}


.messages-title {
    color: white;
}