.uploaded-file {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.file-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.file-name {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pdf-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin: 0;
}

.react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.pdf-main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.pdf-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    color: var(--whiteColor);
}

.pdf-previous-page.MuiButtonBase-root,
.pdf-previous-page.MuiIconButton-root.Mui-disabled,
.pdf-previous-page {
    color: var(--whiteColor)
}

.pdf-next-page.MuiButtonBase-root,
.pdf-next-page.MuiIconButton-root.Mui-disabled,
.pdf-next-page {
    color: var(--whiteColor)
}

.attach-icon.MuiButtonBase-root,
.attach-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 10px;
    position: relative;
}

.attach-icon::before {
    content: '';
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--lineColor);
}

.attach-btn {
    width: 100%;
    color: var(--whiteColor);
}
