.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
}

.pdf-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline: 25%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin-top: 20px;

}

.react-pdf__Document {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.react-pdf__Page__canvas {
    height: 100% !important;
}

.pdf-main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pdf-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    color: var(--whiteColor);
}

.pdf-previous-page.MuiButtonBase-root,
.pdf-previous-page.MuiIconButton-root.Mui-disabled,
.pdf-previous-page {
    color: var(--whiteColor)
}

.pdf-next-page.MuiButtonBase-root,
.pdf-next-page.MuiIconButton-root.Mui-disabled,
.pdf-next-page {
    color: var(--whiteColor)
}

.attach-icon.MuiButtonBase-root,
.attach-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 10px;
    position: relative;
}

.attach-icon::before {
    content: '';
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--lineColor);
}

.attach-btn {
    width: 100%;
    color: var(--whiteColor);
}

@media (max-height: 675px) {
    .react-pdf__Page__canvas {
        width: auto !important;
        height: auto !important;
        max-height: 65vh !important;
    }

    .pdf-container {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 758px) {
    .react-pdf__Page__canvas {
        width: auto !important;
        height: auto !important;
        max-height: 25vh !important;
    }
}

@media (max-width: 1600px) {
    .react-pdf__Page__canvas {
        width: auto !important;
        height: auto !important;
        max-height: 55vh !important;
    }
}