.chat-container {
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    overflow: auto;
    z-index: 0;
    border-right: 1px solid var(--lineColor);
}

.vertical-chatline-right {
    width: 1px;
    height: 100%;
    background-color: var(--lineColor);
}

.horizontal-chatline {
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
}

.chats-title {
    color: var(--whiteColor);
    width: 100%;
    font-size: 24px;
    padding-block: 24px;
    text-align: center;
    border-bottom: 1px solid var(--lineColor);
}

.chat-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.conversation {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    padding-block: 12px;
    color: var(--whiteColor);
    width: 100%;
    border-bottom: 1px solid var(--lineColor);
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
    overflow-wrap: anywhere;
}

.conversation:hover {
    background-color: var(--hoverOnConversation);
}

.conversation-message-icon {
    margin-left: 8px;
}

.conversation-text {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.conversation-delete-icon,
.conversation-tick-icon,
.conversation-close-icon {
    cursor: pointer;
}

.conversation-delete-icon {
    position: relative;
    right: 4px;
}

.conversation-tick-icon,
.conversation-close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.conversation-tick-icon,
.conversation-close-icon {
    color: var(--whiteColor);
}

.add-chat-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
    width: 100%;
    padding: 14px;
    border-bottom: 1px solid var(--lineColor);
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
}

.add-chat-container:hover {
    background-color: var(--blankfactorLogoLightBlue);
}

.selected {
    background-color: var(--hoverOnConversation);
}

::-webkit-scrollbar {
    width: 0.1em;
}

.chat-container::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
    z-index: 1;
}

.chat-container:hover::-webkit-scrollbar {
    width: 0.1em;
    background-color: transparent;
}

.chat-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.chat-container:hover::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    width: 10em;
    height: 1px;
}

@media screen and (max-width: 768px) {
    .chat-container {
        width: 200px;
    }

    .vertical-chatline-left {
        display: flex;
        position: absolute;
        left: 75px;
        width: 1px;
        height: 100%;
        background-color: var(--lineColor);
    }
}