.chat-container {
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    z-index: 0;
}

.vertical-chatline-right {
    width: 1px;
    height: 100%;
    background-color: var(--lineColor);
}

.horizontal-chatline {
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
}

.chats-title {
    color: var(--whiteColor);
    width: 100%;
    font-size: 24px;
    margin-block: 24px;
    text-align: center;
}

.chat-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .chat-container {
        width: 200px;
    }

    .vertical-chatline-left {
        display: flex;
        position: absolute;
        left: 75px;
        width: 1px;
        height: 100%;
        background-color: var(--lineColor);
    }
}