.chat-container {
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    z-index: 0;
}

.vertical-chatline {
    width: 1px;
    height: 100vh;
    background-color: var(--lineColor);
}

.horizontal-chatline {
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
}

.chats-title {
    color: white;
    width: 100%;
    font-size: 24px;
    margin-block: 24px;
    text-align: center;
}

.chat-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}