*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111315;
    margin: 0;
}

.navbar {
    position: relative;
    display: flex;

    justify-content: center;
}

.navbar .MuiList-root {
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;
}
.navbar .MuiListItem-root {
    margin-bottom: 70px;
    padding: 10px;
}

.navbar .MuiListItemIcon-root {
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    /* Center the item icons horizontally */
    align-items: center;
}

.App {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.content-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.line {
    width: 0.5px;
    background-color: #2a2c2d;

    top: 0;
    bottom: 0;
}

.header-line {
    width: 100%;
    height: 0.5px;
    background-color: #2a2c2d;
    margin-top: 25px;

}

.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    white-space: pre-wrap;
    margin-top: 25px;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.nav-container{
    display: flex;
}