body {
    background-color: #111315;
    margin: 0;
}

.navbar {
    width: 60px;
    position: relative;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .MuiListItem-root {
    margin-bottom: 60px;
}

.navbar .MuiListItemIcon-root {
    color: white;
}

.App {
    display: flex;
    height: 100vh;
}

.line {
    width: 0.3px;
    background-color: #2a2c2d;
}