body {
    background-color: #111315;
}

.navbar {
    width: 60px;
    position: relative;
}

.navbar .MuiListItem-root {
    margin-bottom: 60px;
    margin-left: 20px;
}

.navbar .MuiListItemIcon-root {
    color: white;
}

.line {
    position: absolute;
    top: 0;
    right: 0; /* Position the line on the right */
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: white;
}