.signup-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    width: 400px;
    background-color: var(--whiteColor);
    border-radius: 8px;
    padding-block: 10px;
}

.signup-header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    width: 400px;
}

.signup-or {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 15px;
    padding: 0 10px;
    width: 50px;
    background-color: var(--whiteColor);
    z-index: 10;
}

.signup-body {
    display: flex;
    flex-direction: column;
}

.signup-welcome-h1 {
    font-size: 1.874rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--blackColor);
}

.signup-welcome-span {
    font-size: 1.32rem;
    font-weight: 300;
}

.signup-h1 {
    font-size: 1.276rem;
    font-weight: 400;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    color: var(--blackColor);
}

.google-signup-logo {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 7px;
}

.signup-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 2.6rem;
}

.email-field, .password-field, .signup-continue-btn {
    width: 320px;
}

.email-field, .password-field {
    margin-block: 20px;
}

.signup-continue-btn, .signup-continue-btn.MuiButton-root {
    width: 320px;
    background-color: var(--blankfactorLogoDarkBlue);
    color: var(--whiteColor);
}

.signup-continue-btn:hover, .signup-continue-btn.MuiButton-root:hover {
    background-color: var(--blankfactorLogoLightBlue);
    color: var(--whiteColor);
}

.signup-noaccount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    width: 400px;
}

.signup-body::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 1px;
    background-color: var(--greyAccentColor);
}

.signup-noaccount {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 16px;
}

.signup-header-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
    gap: 10px
}

.signup-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-hyperlink {
    color: var(--blankfactorLogoLightBlue);
    text-decoration: none;
    margin-left: 6px;
}

.forgot-password {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.forgot-password-hyperlink {
    color: var(--blankfactorLogoLightBlue);
    text-decoration: none;
    margin-left: 6px;
}

