.content-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    color: white;
    white-space: pre-wrap;
    margin-top: 24px;
    font-size: 30px;
    text-align: center;
}

.header-line {
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
    margin-top: 24px;
}

.main-container {
    display: flex;
}