.content-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 4%;
    margin-top: 24px;
    margin-inline: 20px;
    border-radius: 10px;
}

.header-title {
    color: var(--whiteColor);
    white-space: pre-wrap;
    margin-top: 24px;
    font-size: 36px;
    text-align: center;
}

.header-line {
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
    margin-top: 24px;
}

.main-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .header-logo {
        width: 10%;
    }

    .header-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {

    .header-logo {
        width: 10%;
    }

    .header-title {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {

    .header-logo {
        width: 10%;
    }

    .header-title {
        font-size: 24px;
    }
}