.email-confirmation-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-confirmation-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    width: 400px;
    background-color: var(--whiteColor);
    border-radius: 8px;
    padding-block: 10px;
}

.email-confirmation-header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    width: 400px;
}

.email-confirmation-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.email-confirmation-welcome-h1 {
    font-size: 1.874rem;
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--blackColor);
}

.email-confirmation-logo {
    width: 90px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 7px;
}

.email-confirmation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 15px;
}

.email-field,
.email-confirmation-continue-btn {
    width: 320px;
}

.email-field {
    margin-block: 20px;
}

.email-confirmation-continue-btn.MuiButton-root,
.email-confirmation-continue-btn {
    width: 320px;
    background-color: var(--blankfactorLogoDarkBlue);
    color: var(--whiteColor);
}

.email-confirmation-continue-btn:hover {
    background-color: var(--blankfactorLogoLightBlue);
    color: var(--whiteColor);
}

.email-confirmation-login {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 16px;
}

.email-confirmation-hyperlink {
    color: var(--blankfactorLogoLightBlue);
    text-decoration: none;
    margin-left: 6px;
}

.email-confirmation-continue-btn.MuiButton-root:hover,
.email-confirmation-continue-btn:hover {
    background-color: var(--blankfactorLogoLightBlue);
    color: var(--whiteColor);
}

.MuiInputLabel-root.Mui-disabled,
.MuiOutlinedInput-root.Mui-disable {
    color: var(--blackColor) !important;
}

.MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: var(--blackColor) !important;
}