.messages-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 10px;
    z-index: 0;
}

.message {
    background-color: var(--messagesColor);
    color: white;
    padding: 10px;
    margin-block: 20px;
    border-radius: 20px;
    max-width: 70%;
    align-self: flex-end;
}

.message.answer {
    background-color: var(--answerColor);
    align-self: flex-start;
    position: relative;
}

.message.answer::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 14px;
    width: 24px;
    height: 24px;
    background-image: url('/src/assets/blankfactor-logo.jpg');
    background-size: cover;
    border-radius: 10%;
    transform: translate(-50%, -50%);
}

.message-answer-wrapper,
.message-question-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

.message-answer-name {
    color: var(--whiteColor);
    position: absolute;
    top: -7px;
    left: 30px;
}

.message-question-name {
    color: var(--whiteColor);
    position: absolute;
    top: 0px;
    right: 4px;
}

.message.sent {
    align-self: flex-end;
}

@keyframes dot {
    0% {
        content: '•';
    }
    33% {
        content: '•';
    }
    66% {
        content: '••';
    }
    100% {
        content: '•••';
    }
}

.dot-animation::after {
    content: '•';
    animation: dot 1.5s infinite;
}

@keyframes dot {
    0% {
        content: '•';
    }
    33% {
        content: '•';
    }
    66% {
        content: '••';
    }
    100% {
        content: '•••';
    }
}

.message.typing::after {
    content: '•';
    animation: dot 2s infinite;
}

.messages-title {
    display: flex;
    justify-content: center;
    color: var(--whiteColor);
    width: 100%;
    margin-block: 24px;
}

.messages-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.horizontal-messagesline {
    width: 100%;
    height: 1px;
    background-color: var(--lineColor);
}

.messages-content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: auto;
}

.messages-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 8px;
    margin-bottom: 100px;
    z-index: 0;
    overflow: auto;
}

.welcome-header {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    color: var(--whiteColor);
}

.welcome-capabilities,
.welcome-limitations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px 10px;
    flex: 1;
}

.welcome-capabilities-header,
.welcome-limitations-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
    margin-block: 20px;
}

.welcome-capabilities-accepts,
.welcome-capabilities-util,
.welcome-capabilities-queries,
.welcome-limitations-processing,
.welcome-limitations-accuracy,
.welcome-limitations-queries {
    background-color: #404046;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 8px var(--borderOnWelcomeConversation);
    padding: 8px;
    margin-block: 5px;
}

.lightbulb-emoji,
.limitations-emoji {
    font-size: 30px !important;
}

.search-container {
    display: flex;
    position: fixed;
    left: 25%;
    right: 5%;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    margin-inline: 10%;
}

.search-textfield.MuiInputBase-root,
.search-textfield {
    color: var(--whiteColor);
}

.search-input {
    display: flex;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px;
    border: 1px solid var(--lineColor);
    box-shadow: 4px 4px 10px var(--searchBarColor), -4px -4px 10px var(--searchBarColorBox);
    margin-bottom: 20px;
    z-index: 1;
}

.attach-icon.MuiButtonBase-root,
.send-btn.MuiButtonBase-root,
.attach-icon,
.send-btn {
    color: var(--whiteColor);
}

.file-input {
    display: none;
}

@media screen and (max-width: 768px) {
    .search-container {
        left: 15%;
        right: 5%;
        margin-inline: 5%;
    }
}