.register-signup-header-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 24px;
    gap: 10px;
}

.register-signup-continue-btn,
.register-signup-continue-btn.MuiButton-root {
    background-color: var(--blankfactorLogoDarkBlue);
    color: var(--whiteColor);
    width: 320px;
}

.register-signup-continue-btn:hover,
.register-signup-continue-btn.MuiButton-root:hover {
    background-color: var(--blankfactorLogoLightBlue);
    color: var(--whiteColor);
}

.register-signin-account {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.register-name-field {
    width: 320px;
    display: flex;
    flex-direction: row;
}

.register-email-field {
    width: 320px;
}

.register-password-field, .confirm-register-password-field {
    width: 320px;
}

